# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
.DS_Store
log
bin
secret/pom.json
config/pom.json
secret/local.json
config/local.json
secret/dev.json
config/dev.json
secret/pom.yaml
config/pom.yaml
secret/local.yaml
config/local.yaml
secret/dev.yaml
config/dev.yaml
pkg
